/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffffff; /* Fondo general */
    color: #333; /* Color de texto principal */
    text-align: justify; /* Justificar texto */
}

/* Estilos para el encabezado */
header {
    font-family:'Gill Sans';
    font-style: italic;
    font-size: large;
    background-color: #29982d; /* Verde para el encabezado */
    padding: 15px;
    color: #fff; /* Color de texto para el encabezado */
    text-align: center;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar {
    margin-top: 10px;
}

nav {
    margin-top: 30px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow:-moz-hidden-unscrollable;
}

nav li {
    display: inline;
    margin-right: 40px;
}

nav a {
    text-decoration: none;
    color: #ffffff; /* Color de enlace normal */
}

/* Estilos para la sección de contenido */
h2 {
    font-family:'Gill Sans';
    color: #4CAF50; /* Verde para los encabezados de sección */
}

h3 {
    font-family:'Gill Sans';
    color: #81C784; /* Verde más claro para los encabezados secundarios */
}

p {
    line-height: 1.5;
}

ol, ul {
    margin-bottom: 20px;
}

ol li {
    margin-bottom: 10px;
}


/* Colores suaves para los enlaces */
a {
    color: #1565c0; /* Azul suave */
}

a:hover {
    color: #93c2f1; /* Azul más oscuro al pasar el mouse */
}


/* Estilos para la barra desplegable */
.dropdown {
    display: inline-block;
}

.dropbtn {
    color: #333;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #81C784; /* Color de fondo para la barra desplegable */
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: #ffffff;
    padding: 12px 16px;
    display: block;
    text-decoration: none;
}

.dropdown-content a:hover {
    background-color: #4CAF50; /* Color de fondo al pasar el mouse */
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Estilos para la sección de Objetivo del Sitio */
.objetivo-seccion {
    background-color: #ffffff; /* Fondo verde claro para la sección */
    padding: 20px;
    text-align: center;
}

.objetivo-contenedor {
    background-color: #b4e4b6; /* Fondo blanco para el contenido */
    border-radius: 10px; /* Bordes redondeados */
    padding: 15px;
    max-width: 700px; /* Ancho máximo del contenedor */
    margin: 0 auto; /* Centrar horizontalmente */
}


/* Estilos para pantallas más grandes (escritorio) */
@media only screen and (min-width: 768px) {
    body {
      font-size: 16px;
    }
  }
  
  /* Estilos para pantallas más pequeñas (móviles) */
  @media only screen and (max-width: 767px) {
    body {
      font-size: 14px;
    }
  }

  /* Estilos predeterminados para todas las pantallas */
body {
  font-size: 16px;
}

/* Estilos para pantallas más pequeñas (360x740) */
@media only screen and (max-width: 360px) and (max-height: 740px) {
  body {
    font-size: 14px;
  }

  header {
    font-size: 1.5em; 
  }

  .search-bar input {
    width: 50%; 
  }
}
